
<html>
<head>
	<title> Image Classifier </title>
	<style>
	.btn{padding: 10px;border-radius: 3px; background-color: blue;color: #fff;margin: 5px;display: inline-block; width: 200px;}
	.center{
		text-align: center;color: green
	}
	.container{
		width: 500px;
		margin: 0 auto;

	}
	.entertext{width: 100%;height: 100px}
	.btn-group{display: flex;    justify-content: center;}
	.card p{
		font-size: 30px;text-align: center;
	}

	.dropdown{ width: 250px; height: 50px;

	}
    </style>
</head>
<body>
	<div class="container">
		<h1 class="center">Image Classification </h1>
		<p> Enter the url of the image to be classified. </p>

	</div>

<div class="container">
	<form action= "{{url_for('predict')}}" method="POST" id="myform">

	<textarea name = "rawtext" rows="3" cols="1" class="entertext"  >

	</textarea>
	<div class="btn-group">

	<input type="submit" name="" value="submit" class="btn btn-primary">
	<input type="reset" name="" value="clear" class="btn btn-outline-primary">
	<a href="{{url_for('index')}}" type = "button" class="btn btn-danger">Reset</a>

    </div>

    </form>
</div>

<div class = "container">
	<div class = "card">

           <p>{{ predicted_class}}</p>
     </div>
</div>

</body>
</html>